html, body{
    margin: 5px;
    background-color:#f0f8ff;
}
#outputField {
    overflow-wrap: break-word;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: monospace;
    background-color: white;
    border-radius: 20px;
    
}

.menu{
    margin-top: 10px;
    padding: 3px;
    font-family: sans-serif;
    /*background-color: aqua;*/
}

#titleBar{
    font-family: sans-serif;
    background-color: #CAE5CD;
    border:1px solid gray;
    border-radius: 20px;
}

#titleBarContents{
    width:fit-content;
    margin: 0 auto;
    display: flex;
}

#ver{
    float: right;
}

small{
    padding: 0;
}

p{
    color: black;
}