:root{
    /* --background-color: #f2f2f7; */
    --background-color: transparent; /*透明*/
    --background-sub-color: white;
    --nav-color: white;
    --menu-color: #f6f5eb;
    --text-color: black;
    --output-border: border-top: 0px;
    --background-gradient: linear-gradient(to bottom, rgb(107, 148, 243), var(--background-color));
    /* --settings-color: lightgray */
}

:root[theme="dark"]{
    --background-color: black;
    --background-sub-color: black;
    --nav-color: rgb(62, 67, 116);
    --menu-color: rgb(47, 52, 90);
    --text-color: white;
    --output-border: 1px solid rgb(101, 101, 101);
    --background-gradient: transparent;
    /* --settings-color: #1C1C1E */
}


/* @media (prefers-color-scheme: dark){
    :root{
        --background-color: black;
        --background-sub-color: #1c1c1e;
        --menu-color: rgb(62, 67, 116);
        --text-color: white;
    }
} */

html{
    background: var(--background-gradient);
    background-color: var(--background-color);
    transition: 1.0s;
    /* background-color: var(--background-color); */
    min-height: 100vh;

}

body{
    /* background-color: var(--background-color); */
    margin: 0;
    /* transition: .5s; */
}

h1, h2, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    transition: .5s;
}

main{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#outputField {
    backdrop-filter: blur(1px);
    overflow-wrap: break-word;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2;
    font-family: monospace;
    font-size:medium;
    background-color: var(--background-sub-color);
    color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 20px;
    border-top: var(--output-border);
    border-bottom: var(--output-border);

    transition: .5s;
}

#titleBar{
    width: 100%;
    padding-left: 0;
    height:fit-content;
    font-family: sans-serif;
    background-color: var(--background-sub-color);
    border-bottom: 0.5px solid gray;
    display: flex;
    box-sizing: border-box;

    transition: .5s;
}

#titleBar ul{
    display: flex;
    list-style: none;
    padding-left: 20px;
}

#titleBar ul li{
    font-weight: bold;
    font-size: x-large;
    padding-right: 10px;
    margin: auto 0;
}

#titleBar ul li img{
    display: block;
    width: 40px;
    height: 40px;
}

#title {
    color: var(--text-color); /**/

    transition: .5s;
}

/* #titleBarContents{
    width:fit-content;
    margin: 0 auto;
    display: flex;
} */

.unsetButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    appearance: none;
}

nav{
    display: flex;
    /* background-color: #F2F2F7; */
    padding: 0px 10px;
    border-radius: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

nav ul li{
    min-width: 40px;
    padding: 2px 10px;
    background-color: var(--nav-color);
    margin-right: 5px;
    border-radius: 5px;
    border-bottom: 1px solid black;
    font-size: small;

    transition: .5s;
}

nav ul li a, nav ul li button{
    font-size: 1em;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: .5s;
}

#ver{
    color: var(--text-color);/**/
    float: right;
    width: fit-content;
    height: min-content;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto 0 auto auto; /*上右下左*/
    font-size: 0.8rem;

    transition: .5s;
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--menu-color);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: .5s;
}

hr{
    /* border-top: 3px solid #8c8b8b; */
    border-top: 1px dashed #8c8b8b;
}

small{
    padding: 0;
    color: var(--text-color);/**/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
}

p{
    color: var(--text-color); /**/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
}