:root{
    /* --background-color: #f2f2f7; */
    --background-color: transparent; /*透明*/
    --background-sub-color: white;
    --nav-color: white;
    --menu-color: #f6f5eb;
    --text-color: black;
    --output-border: border-top: 0px;
    --background-gradient: linear-gradient(to bottom, rgb(222, 147, 36), #f2f2f7);
    --link-color: blue;
    --gray-bar: #e2e2e2;
    /* --settings-color: lightgray */
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: black;
        --background-sub-color: black;
        --nav-color: rgb(62, 67, 116);
        --menu-color: rgb(47, 52, 90);
        --text-color: white;
        --output-border: 1px solid rgb(101, 101, 101);
        --background-gradient: transparent;
        --link-color: rgb(156, 156, 248);
        --gray-bar: #464646;
        /* --settings-color: #1C1C1E */
    }
}

html{
    background: var(--background-gradient);
    background-color: var(--background-color);
    transition: 1.0s;
    min-height: 100vh;
}

body{
    margin: 0;
}

h1, h2, h3, h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
    transition: .5s;
}

header{
    width: 100%;
    padding-left: 0;
    height:fit-content;
    font-family: sans-serif;
    background-color: var(--background-sub-color);
    border-bottom: 0.5px solid gray;
    display: flex;
    box-sizing: border-box;

    transition: .5s;
}

header ul{
    display: flex;
    list-style: none;
    padding-left: 20px;
}

header ul li{
    font-weight: bold;
    font-size: x-large;
    padding-right: 10px;
    margin: auto 0;
}

header ul li img{
    display: block;
    width: 40px;
    height: 40px;
}

header #title {
    color: var(--text-color); /**/
    transition: .5s;
}

main{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#outputField {
    overflow-wrap: break-word;
    padding: 20px 2%;
    font-family: monospace;
    font-size:medium;
    background-color: var(--background-sub-color);
    color: var(--text-color);
    border-radius: 20px;
    margin-bottom: 20px;
    border-top: var(--output-border);
    border-bottom: var(--output-border);

    transition: .5s;
}

nav{
    display: flex;
    /* background-color: #F2F2F7; */
    padding: 0px 10px;
    /* border-radius: 20px; */
    /* padding: 10px; */
}

nav * {
    margin-left: 10px;
}
nav span {
    padding: 10px;
    background-color: white;
}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    text-align: center;
}

nav ul li, .dateChangeButton{
    min-width: 40px;
    padding: 2px 10px;
    background-color: var(--nav-color);
    margin-right: 5px;
    border-radius: 5px;
    border-bottom: 1.5px solid var(--text-color);
    font-size: small;

    transition: .5s;
}

nav ul li a, nav ul li button,nav ul li input, .dateChangeButton{
    font-size: 1em;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: .5s;
}

.unsetButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    appearance: none;
}

#ver{
    color: var(--text-color);/**/
    float: right;
    width: fit-content;
    height: min-content;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto 0 auto auto; /*上右下左*/
    font-size: 0.8rem;

    transition: .5s;
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--menu-color);
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    transition: .5s;
}

p{
    color: var(--text-color); /**/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
}

#specialMessage{
    width: fit-content;
    font-size: 1rem;
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    color: white;
    display: none;
}

#dateLink {
    color: var(--link-color);
}

#changeButtonArea {
    padding-top: 0.5rem;
    margin-bottom: 10px;
    width: 100%;
}

#changeButtonArea ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0%;
}

#changeButtonArea ul li *{
    border-bottom: var(--text-color) 1.5px solid;
}

input[type="date"] {
    border: none;
    padding: 0.3rem 1.4rem;
    font-size: 1.4rem;
    height: auto;
    border: 2px solid blue;
    border-radius: 10px;
}

#currentDateField { 
    font-size: 1.4rem;
    border-bottom: none;
    height: auto;
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: .5s;
}

footer {
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: .5s;
}

footer a {
    text-decoration: underline;
}