<footer class="*:p-1 p-4 text-center">
    <div class="text-gray-500 *:no-underline *:hover:underline flex flex-rown gap-4 w-fit mx-auto">
        <p><a href={import.meta.env.BASE_URL + "/about"}>About</a></p>
        <p><a href="https://pullriku.github.io/line-history-guesser/">History Guesser</a></p>
    </div>
    <p>&copy; 2025 Riku Tatsumi</p>
</footer>
