---
import Logo from "./Logo.astro";
---

<a href={import.meta.env.BASE_URL + "/"} class="flex justify-center">
        <Logo/>
        <h1 class="text-2xl font-bold text-center my-6 text-indigo-700">History Viewer</h1>
</div>
