---
import Base from "../layouts/Base.astro";
import Container from "../layouts/Container.astro";
import Box from "../layouts/Box.astro";
import Prose from "../layouts/Prose.astro";
---

<Base>
    <Box>
        <Prose>
            <h1>404: Not Found</h1>
            <p>お探しのページは見つかりませんでした。</p>
            <p class="text-center"><a href={import.meta.env.BASE_URL + "/"}>ホームに戻る</a></p>
        </Prose>
    </Box>
</Base>
