---
import Base from "../layouts/Base.astro";
import Container from "../layouts/Container.astro";
import Box from "../layouts/Box.astro";
import Prose from "../layouts/Prose.astro";
---

<Base>
    <Box>
        <Prose>
            <h1>About</h1>
            <p>LINEの.txt形式の履歴を見やすくするためのプログラムです。</p>

            <h2>プライバシーポリシー</h2>
            <p>
                当サイトはLINEとは一切関係のない、個人が作成したものです。
            </p>
            <p>
                履歴ファイルの処理は全てブラウザ内で完結するため、このサイトは情報を収集しません。
            </p>
            <p>
                このサイトに関するお問い合わせは、以下までお願いします。<br>
                riku3dno.1+linehis[a]gmail.com <br>
                （[a]を@に変えてください）
            </p>
        </Prose>
    </Box>
</Base>
