---
// src/pages/index.astro
import "../styles/global.css";
import LineViewer from "../components/LineViewer";
import Footer from "../components/Footer.astro";
import Logo from "../components/Logo.astro";
import LogoTitle from "../components/LogoTitle.astro";
import Container from "./Container.astro";
---

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>History Viewer</title>

  <link rel="icon" type="image/png" href={import.meta.env.BASE_URL + "/favicon/favicon-96x96.png"} sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href={import.meta.env.BASE_URL + "/favicon/favicon.svg"} />
  <link rel="shortcut icon" href={import.meta.env.BASE_URL + "/favicon/favicon.ico"} />
  <link rel="apple-touch-icon" sizes="180x180" href={import.meta.env.BASE_URL + "/favicon/apple-touch-icon.png"} />
  <meta name="apple-mobile-web-app-title" content="History" />
  <link rel="manifest" href={import.meta.env.BASE_URL + "/favicon/site.webmanifest"} />
</head>
<body class="bg-gray-100 min-h-screen">
  <LogoTitle />
  <Container>
    <slot />
  </Container>
  <Footer />
</body>
</html>
